version: '3.9'
services:
  mongo:
    image: mongo:7
    ports: ['27017:27017']
    volumes: ['mongo_data:/data/db']
  backend:
    build:
      context: ../backend
    env_file:
      - ../backend/.env
    ports: ['5000:5000']
    depends_on: [mongo]
  frontend:
    build:
      context: ../frontend
    env_file:
      - ../frontend/.env
    ports: ['5173:5173']
    depends_on: [backend]
volumes:
  mongo_data:
